@charset "utf-8";
/* CSS Document */

html,body {
	font-size:12px;
	color:#626363;
	margin:0; 
	padding:0;
	height:100%;
	overflow:hidden;
}

div, html, body, p, ul, ol, li, a, form, img, table, td, h1, h2, h3, h4, h5, h6, header, section, footer, nav, dl, dt, dd, welcome, fullwidth {margin:0;padding:0;} 
header, section, footer, aside, nav, welcome{display: block;}
table {border-collapse:collapse;}

img { border:none;}
ul, li ,mark {list-style:none;}
a, a:active, a:visited {text-decoration:none;color:#3fa3c9;}
a:hover {text-decoration:none;color:#3fa3c9;}
input:focus, textarea:focus {outline:none;}

select,
textarea,
input[type="text"],
input[type="password"]{
    display: inline-block;
    height: 26px;
	line-height:26px;
    padding: 4px 6px;
    font-size: 12px;
	background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

select{
    display: inline-block;
    padding: 3px;
    font-size: 12px;
	outline:none;
	background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}
input[type="text"],
input[type="password"],
textarea,
.uneditable-input {
    width: 206px;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus{
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
input[type="radio"] { margin-right:5px;}
textarea{ margin-bottom:10px;}
/*select*/
.dropdown,
.dropdown div,
.dropdown li,
.dropdown div::after{
	z-index:1000;
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}

.dropdown .selected::after,
.dropdown.scrollable div::after{
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
}

/* WRAPPER */

.dropdown{
	position: relative;
	width: 218px;
	border: 1px solid #ccc;
	cursor: pointer;
	background: #fff;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.dropdown.open{
	z-index: 2;
}

.dropdown:hover{
	border-color: rgba(82, 168, 236,.8);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);

}

.dropdown.focus{
	border-color:rgba(82, 168, 236,.8);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);

}

/* CARAT */
.dropdown .carat{
	position: absolute;
	right: 12px;
	top: 50%;
	margin-top: -4px;
	border: 6px solid transparent;
	border-top: 8px solid #000;
}

.dropdown.open .carat{
	margin-top: -10px;
	border-top: 6px solid transparent;
	border-bottom: 8px solid #000;
}

.dropdown.disabled .carat{
	border-top-color: #999;
}

/* OLD SELECT (HIDDEN) */

.dropdown .old{
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}

.dropdown select{
	position: absolute;
	left: 0px;
	top: 0px;
}

.dropdown.touch .old{
	width: 100%;
	height: 100%;
}

.dropdown.touch select{
	width: 100%;
	height: 100%;
	opacity: 0;
}

/* SELECTED FEEDBACK ITEM */ 

.dropdown .selected,
.dropdown li{
	display: block;
	font-size: 12px;
	color: #000;
	height: 26px;
	padding: 4px 6px;
	overflow: hidden;
	white-space: nowrap;
	line-height:26px;
}

.dropdown.disabled .selected{
	color: #999;
}

.dropdown .selected::after{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 60px;
	
	border-radius: 0 2px 2px 0;
	box-shadow: inset -55px 0 25px -20px #fff;
}

/* DROP DOWN WRAPPER */

.dropdown div{
	position: absolute;
	height: 0;
	left: -1px;
	right: -1px;
	top: 100%;
	margin-top: -1px;
	background: #fff;
	border: 1px solid #ccc;
	border-top: 1px solid #eee;
	border-radius: 0 0 3px 3px;
	overflow: hidden;
	opacity: 0;
}

/* Height is adjusted by JS on open */

.dropdown.open div{
	opacity: 1;
	z-index: 2;
}

/* FADE OVERLAY FOR SCROLLING LISTS */

.dropdown.scrollable div::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
	
	box-shadow: inset 0 -50px 30px -35px #fff;
}

.dropdown.scrollable.bottom div::after{
	opacity: 0;
}

/* DROP DOWN LIST */

.dropdown ul{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	list-style: none;
	overflow: hidden;
}

.dropdown.scrollable.open ul{
	overflow-y: auto;
}

/* DROP DOWN LIST ITEMS */

.dropdown li{
	list-style: none;
	padding: 4px 6px;
	line-height:26px;
}

/* .focus class is also added on hover */

.dropdown li.focus{
	background: #3498DB;
	position: relative;
	z-index: 3;
	color: #fff;
}

.dropdown li.active{
	font-weight: 700;
}

.text-left { text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}

ul { display:block; list-style-type:disc; -wetkit-margin-before:1em; -wetkit-margin-after:1em; -wetkit-margin-start:0px; -wetkit-margin-end:0px; -wetkit-padding-start:40px;}

.clear { clear:both;}

/* 字体颜色 */
.red { color:#EC4F4F;}


/*常用search*/
.topSearch {
	background-color: #ffffff;
    border: 1px solid #cccccc;
    font-size: 12px;
    line-height: 28px;
	height:28px;
	display:inline-block;
	width:220px;
	margin:0 0 8px 8px;
	float:left;
}
.topSearch input[type="text"] {
	height: 24px;
	line-height:24px;
	width: 145px;
	border:0;
	background:#fff;
	box-shadow:none;
	float: left;
	margin:2px;
	padding: 0 0 0 3px;
}
.topSearchBtn {
	height: 24px;
	width: 24px;
	background: url(../images/ico_btn.png) no-repeat left top;
	cursor: pointer;
	float: right;
	border:0;
	margin:2px 3px 2px 0;
	display:inline;
	_margin-top:-18px;
	_margin-bottom:-3px;
}
.topSearchBtn:hover {
	background: url(../images/ico_btn.png) no-repeat left -24px; 
}


.btn {
    display: inline-block;
    *display: inline;
    padding: 4px 12px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-weight: bold;
    line-height: 20px;
    color: #666;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    border: 1px solid #cccccc;
    *border: 0;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
    color: #333333;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
    background-color: #cccccc \9;
}

.btn:first-child {
    *margin-left: 0;
}

.btn:hover,
.btn:focus {
    color: #333333;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn.active,
.btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
    cursor: default;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.btn-block {
    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn-block + .btn-block {
    margin-top: 5px;
}


.blue {
	display: block;
	background-color:#b0d9e8;
    border-bottom-color: #67a8c0;
}
.blue:hover,
.blue:focus {
	background-color:#85c2d9;
}


input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
    width: 100%;
}

/* header */
[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url(../images/icon.png);
    background-position: 14px 14px;
    background-repeat: no-repeat;
}

/* White icons with optional class, or on hover/focus/active states of certain elements */

.icon-white,
.menudown-menu > li > a:hover > [class^="icon-"],
.menudown-menu > li > a:focus > [class^="icon-"],
.menudown-menu > li > a:hover > [class*=" icon-"],
.menudown-menu > li > a:focus > [class*=" icon-"],
.menudown-menu > .active > a > [class^="icon-"],
.menudown-menu > .active > a > [class*=" icon-"]{
    background-image: url(../images/icon-white.png);
}

.icon-user { background-position:-168px 0;}
.icon-colum { background-position:-264px 0;}
.icon-off { background-position: -384px 0;}
.icon-cog {background-position: -432px 0;}
.icon-article { background-position:-24px -24px;}
.icon-download-alt {background-position: -96px -24px;}
.icon-lock { background-position:-288px -24px;}	

.ico {
	display:inline-block;
	width:20px;
	height:20px;
	overflow:hidden;
	vertical-align:middle;
	background-image: url(../images/ico.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.ico_edit { background-position:0 0;}
.ico_delete{ background-position:-20px 0;}
.ico_setting{ background-position:-40px 0;}
.ico_look { background-position:-60px 0;}
.ico_sort { background-position:-80px 0;}


	
.ico24 {
	display:inline-block;
	width:30px;
	height:30px;
	overflow:hidden;
	vertical-align:middle;
	background-image: url(../images/ico_24.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.ico24_down { background-position:0 0;}
.ico24_quit { background-position:-30px 0;}
.ico24_logoff { background-position:-60px 0;}
.ico24_out { background-position:-90px 0;}
.ico24_table { background-position:-120px 0;}
.ico24_clock { background-position:-150px 0;}


.icobtn_excel {
	display:inline;
	width:24px;
	height:24px;
	border:0;
	background: url(../images/ico_btn.png) no-repeat;
	background-position:-24px 0;
	cursor: pointer;
}
.icobtn_excel:hover {
	background: url(../images/ico_btn.png) no-repeat;
	background-position: -24px -24px;
}
.icobtn_import {
	display:inline;
	width:24px;
	height:24px;
	border:0;
	background:url(../images/ico_btn.png) no-repeat;
	background-position:-48px 0;
	cursor: pointer;
}
.icobtn_import:hover {
	background: url(../images/ico_btn.png) no-repeat;
	background-position: -48px -24px;
}
.icobtn_detele {
	display:inline;
	width:24px;
	height:24px;
	border:0;
	background:url(../images/ico_btn.png) no-repeat;
	background-position:-72px 0;
	cursor: pointer;
}
.icobtn_detele:hover {
	background: url(../images/ico_btn.png) no-repeat;
	background-position: -72px -24px;
}
.icobtn_manage {
	display:inline;
	width:24px;
	height:24px;
	border:0;
	background:url(../images/ico_btn.png) no-repeat;
	background-position:-96px 0;
	cursor: pointer;
}
.icobtn_manage:hover {
	background: url(../images/ico_btn.png) no-repeat;
	background-position: -96px -24px;
}
.icobtn_edit {
	display:inline;
	width:24px;
	height:24px;
	border:0;
	background:url(../images/ico_btn.png) no-repeat;
	background-position:-120px 0;
	cursor: pointer;
}
.icobtn_edit:hover {
	background: url(../images/ico_btn.png) no-repeat;
	background-position: -120px -24px;
}

.icobtn_add {
	display:inline;
	width:24px;
	height:24px;
	border:0;
	background:url(../images/ico_btn.png) no-repeat;
	background-position:-144px 0;
	cursor: pointer;
}
.icobtn_add:hover {
	background: url(../images/ico_btn.png) no-repeat;
	background-position: -144px -24px;
}
